<aside class="sidebar">

  <div class="sidebar-logo">
    <div class="logo-icon">🚚</div>
    <div class="logo-text">
      Swift<span>Route</span>
    </div>
  </div>

  <span class="sidebar-section-label">
    Main Menu
  </span>

  <a class="nav-item active">
    <i class="fas fa-chart-pie nav-icon"></i>
    Dashboard
  </a>

  <a class="nav-item">
    <i class="fas fa-box nav-icon"></i>
    Parcels
    <span class="nav-badge">24</span>
  </a>
  <a class="nav-item" href="hubparcel">
    <i class="fas fa-box nav-icon"></i>
    Hub Parcel
    <span class="nav-badge">24</span>
  </a>
  <a class="nav-item" href="agentbook">
    <i class="fas fa-box nav-icon"></i>
    Book Parcel(A)
    <span class="nav-badge">24</span>
  </a>

  <a class="nav-item">
    <i class="fas fa-route nav-icon"></i>
    Shipments
  </a>

  <a class="nav-item">
    <i class="fas fa-map-location-dot nav-icon"></i>
    Live Tracking
    <span class="nav-badge">8</span>
  </a>

  <div *ngIf="userRole === 'ADMIN'">

    <a class="nav-item">
      <i class="fas fa-motorcycle nav-icon"></i>
      Couriers
    </a>

    <span class="sidebar-section-label">
      Management
    </span>

    <a class="nav-item" href="country">
      <i class="bi-flag"></i>
      Country
    </a>
    <a class="nav-item" href="division">
      <i class="bi bi-map"></i>
      Division
    </a>
    <a class="nav-item" href="district">
      <i class="bi-flag"></i>
      District
    </a>
    <a class="nav-item" href="police">
      <i class="bi-flag"></i>
      Police Station
    </a>
    <a class="nav-item" href="hub">
      <i class="bi-flag"></i>
      Find Hub
    </a>
  </div>





  <div *ngIf="userRole === 'CUSTOMER'">

    <a class="nav-item" href="addcustomer">
      <i class="fas fa-users nav-icon"></i>
      Customers
    </a>
  </div>


  <a class="nav-item" href="addagent">
    <i class="fas fa-warehouse nav-icon"></i>
    Agent
  </a>

  <a class="nav-item" href="agentList">
    <i class="fas fa-warehouse nav-icon"></i>
    Agent List
  </a>
  <a class="nav-item" href="addrider">
    <i class="fas fa-warehouse nav-icon"></i>
    Rider
  </a>
  <a class="nav-item" href="riderlist">
    <i class="fas fa-warehouse nav-icon"></i>
    Rider List
  </a>

  <a class="nav-item">
    <i class="fas fa-file-invoice nav-icon"></i>
    Invoices
  </a>

  <a class="nav-item">
    <i class="fas fa-tags nav-icon"></i>
    Rates & Zones
  </a>

  <span class="sidebar-section-label">
    System
  </span>

  <a class="nav-item">
    <i class="fas fa-bell nav-icon"></i>
    Notifications
    <span class="nav-badge">5</span>
  </a>

  <a class="nav-item">
    <i class="fas fa-gear nav-icon"></i>
    Settings
  </a>
</aside>