<nav>
  <div class="nav-inner">
    <a class="nav-logo" href="#">
      <div class="nav-logo-icon">🚚</div>
      <span class="nav-logo-text">Swift<span>Route</span></span>
    </a>
    <ul class="nav-links">
      <li><a href="#" class="active">Home</a></li>
      <li><a href="#" >Track Parcel</a></li>
      <li><a href="#" >Price Calculator</a></li>
      <li><a href="#" >Services</a></li>
      <li><a href="#">About</a></li>
    </ul>
    <div class="nav-right">
      <a class="btn-outline-nav btn btn-primary" href="login">Log In</a>
      <a class="btn-outline-nav btn btn-primary" href="addcustomer">Register</a>
      
    </div>
  </div>
</nav>